/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

.woocommerce-page .woocommerce .woocommerce-billing-fields #billing_country_field {
    display: none;
}

.woocommerce-page .woocommerce .woocommerce-cart-form button.button,
.woocommerce-page .woocommerce .wc-proceed-to-checkout .button,
.woocommerce-page .woocommerce .woocommerce-checkout-payment button.button,
.woocommerce-page .woocommerce p.return-to-shop a.button.wc-backward {
    padding: 20px !important;
    font-size: 16px !important;
    line-height: 12px;
    border-radius: 3px !important;
}

.woocommerce-checkout-review-order-table .product-info h4 {
    letter-spacing: normal;
}

.woocommerce div.product form.cart .reset_variations {
    display: none !important;
}

.woocommerce div.product form.cart .woocommerce-variation-price {
    display: none;
}

.woocommerce div.product form.cart .woocommerce-variation-description p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#header-outer .cart-notification .item-name,
.woocommerce .cart-notification .item-name,
.woocommerce table.order-review th,
.woocommerce-page table.order-review th,
.woocommerce table.order-review tfoot td,
.woocommerce table.order-review tfoot th,
.woocommerce-page table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot th {
    font-family: inherit !important;
}

.material.product .product-wrap .product-add-to-cart[data-nectar-quickview="true"] a.button span,
.material.product .product-wrap .product-add-to-cart[data-nectar-quickview="true"] a.nectar_quick_view span,
.woocommerce .main-content .material.product .product-wrap .product-add-to-cart[data-nectar-quickview="true"] a.added_to_cart {
    padding: 8px 10px !important;
    font-size: 12px !important;
}

.woocommerce .widget_layered_nav ul li .term-link,
.woocommerce-page .widget_layered_nav ul li .term-link {
    padding-left: 30px;
}

.woocommerce .widget_layered_nav ul li.chosen .term-link:after,
.woocommerce-page .widget_layered_nav ul li.chosen .term-link:after {
    color: #fff !important;
    left: 6px !important;
}

.woocommerce .widget_layered_nav ul li .term-link:before,
.woocommerce-page .widget_layered_nav ul li .term-link:before {
    display: none;
}

.woocommerce .widget_layered_nav .term-thumb,
.woocommerce-page .widget_layered_nav .term-thumb {
    position: absolute;
    left: 0;
    top: -2px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid #fff;
    background-position: center center !important;
    -ms-transition: box-shadow 0.2s, color 0.2s;
    -webkit-transition: box-shadow 0.2s, color 0.2s;
    transition: box-shadow 0.2s, color 0.2s;
    background-size: cover !important;
}

.woocommerce .widget_layered_nav ul li .term-link:hover .term-thumb,
.woocommerce-page .widget_layered_nav ul li .term-link:hover .term-thumb {
    box-shadow: 0 3px 12px 0 rgba(43, 43, 49, .09), 0 5px 17px 0 rgba(43, 43, 49, .11);
}

@media only screen and (min-width: 1001px) {
    body[data-header-format="left-header"] header#top .container {
        padding: 0 45px;
    }

    body[data-header-format="left-header"] #header-outer .span_3 {
        margin-top: 45px;
    }
}